.container{
  border: 1px solid blue;
  width: 300px;
  height: 450px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
}

input{
  width: 90%;
  border-radius: 5px;
  margin: 3px;
  margin-bottom: 15px;
}

.button{
  width: 50%;
  margin:5px 0px 15px 50px;
  background-color: green;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
}

Link{
  text-decoration: none;
}